---
layout: page
title: Albert
subtitle: <b>Model Merging!</b> <p>🧠 + 🦾 + 🦿 = 🤖</p>
use-site-title: true
bigimg: [/img/futuristic-cityscape-at-night_800.jpg, /img/ai-cover.jpg]
---

<!-- a mamador quote -->
<center>
  <h3>
	La science n'a pas de patrie
	parce que le savoir est le patrimoine de l'humanité.
  </h3>
  <p>
	<i>
	  -- Louis Pasteur
	</i>
</center>

<!-- brief self-introduction: -->
<br>
<b>Albert</b> is a PhD <a href="https://chatgpt.com/share/674e27aa-fe88-8001-bd06-18d33529a7b2" target="_blank">Candidate</a>
in Computer Science <i>à l'institut <a href="https://mila.quebec/en/" target="_blank">Mila</a></i>
and at <i><a href="https://www.concordia.ca/" target="_blank">Concordia University</a></i>,
in Montréal, QC, Canada.
<p>
  His current research interests surround <i>model merging</i>, i.e.,
  the integration of multiple models into a single, coherent model... [Continue reading 👉 <a href="/aboutme">here</a>]
  <br>

<!-- some news and some social media stuff -->
{% capture news_content %}
{% include news.md %}
{% endcapture %}
{% assign news_html = news_content | markdownify | safe %}

{% capture social_content %}
{% endcapture %}
{% assign social_html = social_content | markdownify | safe %}
  
{% include index_columns.html %}
