<p align="justify">
<b>Albert</b> is a PhD <a href="https://chatgpt.com/share/674e27aa-fe88-8001-bd06-18d33529a7b2" target="_blank">Candidate</a>
in Computer Science <i>à l'institut <a href="https://mila.quebec/en/" target="_blank">Mila</a></i>
and at <i><a href="https://www.concordia.ca/" target="_blank">Concordia University</a></i>,
in Montréal, QC, Canada.
<p align="justify">
  Albert is happily co-supervised by
  Dr <a href="http://eugenium.github.io/" target="_blank">Eugene Belilovsky</a>
  and Dr <a href="http://guywolf.org/" target="_blank">Guy Wolf</a>;
  hence, he is part of the <a href="http://diffusion.space/" target="_blank">
    Recherche et Analyse Fondamentales d'Apprentissage,
    Linéarisation et Exploration en Science-des-données (RAFALES)
  </a> group.
</p>
